<ion-header>
  <ion-toolbar>
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" >
  <ion-title>
    <p class="title">Congratulations!</p>
    <p>Your Appointment Has Been Scheduled.</p>
  </ion-title>
  <ion-list>
    <ion-title>Appointment Information</ion-title>
    <ion-item>Center : {{center}}</ion-item>
    <ion-item>Slot : {{slot}}</ion-item>
  </ion-list>
  <ion-title>
    <p>Please Check <a href="https://www.cowin.gov.in/">CoWIN</a> 
      <br/>website for details.</p>
  </ion-title>
  <a style="display: block;background: #e74c3c;color:#fff;padding:10px;margin:20px auto;" href="https://www.instagram.com/makarandkate/">Follow On Instagram</a>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="goToHome()" [disabled]="!isBtnActive" >Okay</ion-button>
</ion-footer>
