<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cowin Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div [ngClass]="{hidden : mTOKEN.length}">
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input #inpPhoneNumber></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="initSendOtp()">SEND OTP</ion-button>
      <ion-item>
        <ion-label position="floating">OTP</ion-label>
        <ion-input #inpOTP></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="initVerifyOtp()">VERIFY OTP</ion-button>
    </div>
    
    <div [ngClass]="{hidden : !mTOKEN.length}">
      <ion-label>Please only choose 18 to 44 OR 45+.Do not combine two age groups. And do not combine two different type vaccines.</ion-label>
      <ion-grid>
        <ion-card *ngFor="let ben of beneficiary">
          <ion-row >
            <ion-col size="1">
              <ion-checkbox color="primary" [(ngModel)]="ben.selected" (ionChange)="setSelectedBeneficiary()"></ion-checkbox>
            </ion-col>
            <ion-col size="10">
              {{ben.name}} ({{ben.age}}) - {{ben.vaccine}}
            </ion-col>
          </ion-row>
        </ion-card>
        
      </ion-grid>
      
      <ion-list *ngIf="selectedBenificery.length>0">
        <ion-radio-group value="1">
          <ion-list-header>
            <ion-label>Select Area</ion-label>
          </ion-list-header>
      
          <ion-item  (click)="getSelectAreaBy($event)">
            <ion-label>By District</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
      
          <ion-item  (click)="getSelectAreaBy($event)"> 
            <ion-label>By Pincode</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
     
      <ion-item *ngIf="isByPincode && selectedBenificery.length>0">
        <ion-input type="text" placeholder="Enter Comma Sepeareted Pincode" (ionBlur)="getPincode($event)"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="isByDistrict && selectedBenificery.length>0">
        <ion-label>Select State</ion-label>
        <ion-select placeholder="Select State" (ionChange)="getState($event)">
          <ion-select-option *ngFor="let state of stateArray" value="{{state.state_id}}">{{state.state_name}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="isByDistrict && selectedBenificery.length>0">
        <ion-label>Select District</ion-label>
        <ion-select placeholder="Select District" (ionChange)="getDistrict($event)" multiple="true">
          <ion-select-option *ngFor="let district of districtArray" value="{{district | json}}">{{district.district_name}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-grid *ngIf="selectedBenificery.length>0">
        <ion-radio-group value="ANY">
            <ion-list-header>
              <ion-label>Select Vaccine</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col size="6">
                <ion-item (click)="getVaccinetype($event)" lines="none">
                  <ion-label>ANY</ion-label>
                  <ion-radio slot="start" value="ANY"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item (click)="getVaccinetype($event)" lines="none">
                  <ion-label>COVISHIELD</ion-label>
                  <ion-radio slot="start" value="COVISHIELD"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item (click)="getVaccinetype($event)" lines="none">
                  <ion-label>COVAXIN</ion-label>
                  <ion-radio slot="start" value="COVAXIN"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item (click)="getVaccinetype($event)" lines="none">
                  <ion-label>SPUTNIK V</ion-label>
                  <ion-radio slot="start" value="SPUTNIK V"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-radio-group>
      </ion-grid>
  
      <ion-list *ngIf="selectedBenificery.length>0">
        <ion-radio-group value="ANY">
          <ion-list-header>
            <ion-label>Select Vaccine Fee Type</ion-label>
          </ion-list-header>
          <ion-item (click)="getVaccineFeetype($event)">
            <ion-label>ANY</ion-label>
            <ion-radio slot="start" value="ANY"></ion-radio>
          </ion-item>
          <ion-item (click)="getVaccineFeetype($event)">
            <ion-label>FREE</ion-label>
            <ion-radio slot="start" value="FREE"></ion-radio>
          </ion-item>
          <ion-item (click)="getVaccineFeetype($event)">
            <ion-label>PAID</ion-label>
            <ion-radio slot="start" value="PAID"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
  
      
      <ion-button expand="block" (click)="saveDetails()">SAVE DETAILS</ion-button>
    </div>
      
  </div>
  
</ion-content>
